.downloadDiv {
  margin: 10px 10px;
  width: 400px;
  box-shadow: 0 0 10px rgb(63, 63, 65);
  border-radius: 5px;
  padding: 10px 10px;

  display: flex;
  align-items: center;
  justify-content: center;

  p {
    margin-right: 10px;
  }
}